In [34]:
import pandas as pd
import numpy as np

#visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [35]:
import ast
import requests
from datetime import date, timedelta
list = []
class Krx:

    isin_code = 'KR7005930003'
    start_date = '2019/01/20'
    end_date = '2019/06/20'
    


    def main(self):

        start = date(int(self.start_date.split("/")[0]), int(self.start_date.split("/")[1]), int(self.start_date.split("/")[2]))
        end = date(int(self.end_date.split("/")[0]), int(self.end_date.split("/")[1]), int(self.end_date.split("/")[2]))

        delta = end - start

        day_price_data = self.get_day_price()
        short_stock_selling_data = self.get_short_stock_selling()

        for day in range(delta.days+1):
            d = start + timedelta(days=day)
            key = str(d).replace("-", "")
            if key in day_price_data:
                list.append([str(d).replace("-", "/"), day_price_data[key][0], day_price_data[key][1], day_price_data[key][2], 
                             day_price_data[key][3], day_price_data[key][4], short_stock_selling_data[key][2], short_stock_selling_data[key][3]])
       

    def get_day_price(self):

        otp = requests.get('http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx?bld=MKD/04/0402/04020100/mkd04020100t3_02&name=chart')

        parameters = {
            'isu_cd': self.isin_code,
            'fromdate': self.start_date.replace("/", ""),
            'todate': self.end_date.replace("/", ""),
            'pagePath': '/contents/MKD/04/0402/04020100/MKD04020100T3T2.jsp',
            'code': otp.content
        }

        res = requests.post('http://marketdata.krx.co.kr/contents/MKD/99/MKD99000001.jspx', parameters)

        data = ast.literal_eval(res.text)['block1']

        result = {}

        for item in data:
            # tdd_clsprc : 종가
            # acc_trdval : 거래대금
            # tdd_opnprc : 시가
            # tdd_hgprc : 고가
            # tdd_lwprc : 저가
            result[item['trd_dd'].replace("/", "")] = (item['tdd_clsprc'], item['tdd_opnprc'], item['tdd_hgprc'], item['tdd_lwprc'], item['acc_trdval'])

        return result

    def get_short_stock_selling(self):

        # reverse engineered from the source at here https://finance.naver.com/item/short_trade.nhn?code=005930
        otp = requests.get('https://short.krx.co.kr/contents/COM/GenerateOTP.jspx?bld=SRT/02/02010100/srt02010100X&name=form')

        parameters = {
            'isu_cd': self.isin_code,
            'strt_dd': self.start_date.replace("/", ""),
            'end_dd': self.end_date.replace("/", ""),
            'pagePath': '/contents/SRT/02/02010100/SRT02010100X.jsp',
            'code': otp.content
        }

        res = requests.post('https://short.krx.co.kr/contents/SRT/99/SRT99000001.jspx', parameters)

        data = ast.literal_eval(res.text)['block1']

        result = {}

        for item in data:
            # cvsrtsell_trdvol : 공매도 거래량
            # str_const_val1 : 공매도 잔고량
            # cvsrtsell_trdval : 공매도 거래대금
            # str_const_val2 : 공매도 잔고금액
            result[item['trd_dd'].replace("/", "")] = (item['cvsrtsell_trdvol'], item['str_const_val1'], item['cvsrtsell_trdval'], item['str_const_val2'])

        return result


if __name__ == "__main__":
    Krx().main()

In [36]:
# list는 webscraping의 결과물
df = pd.DataFrame(list, columns=["년/월/일", "종가", "시가", "고가", "저가", "거래대금", "공매도거래대금", "공매도잔고금액"])
df.head()

,년/월/일,종가,시가,고가,저가,거래대금,공매도거래대금,공매도잔고금액
0,2019/01/21,"42,750","42,700","42,750","41,900","482,175,851,350","23,237,367,100","187,014,107,250"
1,2019/01/22,"42,150","42,750","42,850","41,850","420,046,904,750","16,032,791,400","183,901,503,750"
2,2019/01/23,"42,000","41,350","42,250","41,350","463,297,064,600","22,384,438,100","194,500,530,000"
3,2019/01/24,"43,050","43,050","43,100","42,350","632,002,060,800","19,768,624,250","166,935,243,300"
4,2019/01/25,"44,750","44,300","44,750","43,750","1,009,867,914,800","42,827,301,900","203,515,213,500"

In [37]:
df.dtypes

년/월/일      object
종가         object
시가         object
고가         object
저가         object
거래대금       object
공매도거래대금    object
공매도잔고금액    object
dtype: object

In [38]:
# REMOVE COMMA
columns_values = [df.columns.values]
for i in range(len(columns_values[0])):
    df[columns_values[0][i]] = df[columns_values[0][i]].str.replace(',','')
df.head()

,년/월/일,종가,시가,고가,저가,거래대금,공매도거래대금,공매도잔고금액
0,2019/01/21,42750,42700,42750,41900,482175851350,23237367100,187014107250
1,2019/01/22,42150,42750,42850,41850,420046904750,16032791400,183901503750
2,2019/01/23,42000,41350,42250,41350,463297064600,22384438100,194500530000
3,2019/01/24,43050,43050,43100,42350,632002060800,19768624250,166935243300
4,2019/01/25,44750,44300,44750,43750,1009867914800,42827301900,203515213500

In [39]:
# 전일대비등락률 (종가, 거래대금, 공매도, 시가/종가)
Close = ['']
Volumes = ['']
ShortSelling = ['']
Open_Close = ['']

for k in range(1, len(df)-1): #처음 가격은 계산 안 되므로 1, 마지막 가격에는 값이 없는 row가 있으므로 -1
    Close.append(int((int(df['종가'][k])-int(df['종가'][k-1]))*100/int(df['종가'][k-1])))
    Volumes.append(int(df['거래대금'][k]) / int(df['거래대금'][k-1]))
    ShortSelling.append(int(df['공매도잔고금액'][k]) / int(df['공매도잔고금액'][k-1]))
    Open_Close.append(int(df['시가'][k+1]) / int(df['종가'][k])) # 다음날 시가갭이면 1보다 큼
Close.append('')
Volumes.append('')
ShortSelling.append('')
Open_Close.append('')
# Column 삽입
# https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/
df.insert(8, "Close", Close)
df.insert(9, "Volumes", Volumes)
df.insert(10, "ShortSelling", ShortSelling)
df.insert(11, "Open_Close", Open_Close)
df.head()

# 날짜 헷갈리면 안 됨 feature들은 전일대비당일가격, Open_Close는 당일대비다음날시가(label이기 때문이다.)

,년/월/일,종가,시가,고가,저가,거래대금,공매도거래대금,공매도잔고금액,Close,Volumes,ShortSelling,Open_Close
0,2019/01/21,42750,42700,42750,41900,482175851350,23237367100,187014107250,,,,
1,2019/01/22,42150,42750,42850,41850,420046904750,16032791400,183901503750,-1,0.871149,0.983356,0.98102
2,2019/01/23,42000,41350,42250,41350,463297064600,22384438100,194500530000,0,1.10297,1.05763,1.025
3,2019/01/24,43050,43050,43100,42350,632002060800,19768624250,166935243300,2,1.36414,0.858277,1.02904
4,2019/01/25,44750,44300,44750,43750,1009867914800,42827301900,203515213500,3,1.59789,1.21913,1.00559
5,2019/01/28,45050,45000,45500,44600,812165597086,57134921800,219482879200,0,0.80423,1.07846,1
6,2019/01/29,45500,45050,45500,44350,729601104797,63726634500,230713847000,0,0.89834,1.05117,0.984615
7,2019/01/30,46400,44800,46400,44800,802319669700,57130043050,233805192000,1,1.09967,1.0134,1.00539
8,2019/01/31,46150,46650,47050,46150,1007418016957,56475246850,231867106900,0,1.25563,0.991711,1.01083
9,2019/02/01,46350,46650,46950,46250,644179617419,35406219100,251513222850,0,0.639436,1.08473,1.00971
10,2019/02/07,46200,46800,47100,46200,739207112566,26261118750,251702497200,0,1.14752,1.00075,0.989177
11,2019/02/08,44800,45700,45700,44650,571010653800,23160240800,241633952000,-3,0.772464,0.959998,0.993304
12,2019/02/11,45000,44500,45000,44250,496105674534,23729036450,238975560000,0,0.86882,0.988998,0.992222
13,2019/02/12,46050,44650,46250,44650,604234331980,61402562050,223754279100,2,1.21795,0.936306,1.0076
14,2019/02/13,46200,46400,46700,46000,522769115550,26264683500,218366563800,0,0.865176,0.975921,1.00866
15,2019/02/14,47500,46600,47500,46150,808870207486,52936668750,228013062500,2,1.54728,1.04418,0.984211
16,2019/02/15,46050,46750,46850,45650,487928325500,58247074400,213018734700,-3,0.603222,0.934239,1.00977
17,2019/02/18,46200,46500,46850,45850,379385585300,18452827800,206843359800,0,0.777544,0.97101,0.992424
18,2019/02/19,45950,45850,46150,45450,309243749000,11461219100,210034141600,0,0.815117,1.01543,1.01741
19,2019/02/20,46900,46750,47100,46500,538847352577,25086815900,206260056100,2,1.74247,0.982031,0.991471
20,2019/02/21,46950,46500,47200,46200,406411552100,12828675550,206230269450,0,0.754224,0.999856,0.990415
21,2019/02/22,47150,46500,47150,46450,322775255100,21865046600,204598136450,0,0.794208,0.992086,1.0053
22,2019/02/25,47350,47400,47550,47050,354011544900,17628313100,187769502750,0,1.09677,0.917748,1
23,2019/02/26,46750,47350,47450,46500,374675186100,25979353550,173668676500,-1,1.05837,0.924904,1.00535
24,2019/02/27,46750,47000,47250,46750,377808474774,8671218400,162805612750,0,1.00836,0.937449,0.992513
25,2019/02/28,45100,46400,46500,45100,1073228686350,46122549750,139836248200,-3,2.84067,0.858915,1.01996
26,2019/03/04,44850,46000,46100,44800,585692172641,80403311950,125192944500,0,0.545729,0.895282,0.994426
27,2019/03/05,44250,44600,45100,44150,471638443200,21821724050,138387405750,-1,0.805267,1.10539,0.99435
28,2019/03/06,44000,44000,44300,43700,447977041138,5244569050,126794580000,0,0.949831,0.916229,0.986364
29,2019/03/07,44450,43400,44950,43400,490121520107,18452769200,127096285050,1,1.09408,1.00238,1
...,...,...,...,...,...,...,...,...,...,...,...,...
72,2019/05/09,42450,43900,44250,42450,993611649785,23054641650,215295405450,-4,2.15027,0.950079,1.00353
73,2019/05/10,42900,42600,43450,42450,624673461000,27619355950,216024022500,1,0.62869,1.00338,0.990676
74,2019/05/13,42650,42500,43200,42350,326874119000,14675526100,213692323150,0,0.523272,0.989206,0.968347
75,2019/05/14,42650,41300,43100,41300,491109676200,19194923150,219748708450,0,1.50244,1.02834,1.00117
76,2019/05/15,42550,42700,43050,42550,327973978000,44592259750,224635066000,0,0.667822,1.02224,0.9953
77,2019/05/16,41550,42350,42400,41350,572149879612,49531560250,230646667650,-2,1.7445,1.02676,1.00963
78,2019/05/17,41200,41950,42050,40850,554484416170,48935730650,230727663200,0,0.969124,1.00035,1.01092
79,2019/05/20,42000,41650,42100,41550,659809912200,18019265450,238190274000,1,1.18995,1.03234,1.01429
80,2019/05/21,43150,42600,43950,42350,815224371474,45007589400,229256813000,2,1.23554,0.962494,1.01275
81,2019/05/22,43500,43700,43800,42400,477853598650,47342213100,245123413500,0,0.586162,1.06921,1.0092
82,2019/05/23,43850,43900,44000,43250,536198002640,33928489950,240261516800,0,1.1221,0.980166,0.99886
83,2019/05/24,42700,43800,43800,42400,599084523862,28883734850,227515079400,-2,1.11728,0.946948,0.995316
84,2019/05/27,42650,42500,43000,42350,344043547350,12078249150,190386060050,0,0.574282,0.836806,0.997655
85,2019/05/28,42550,42550,42950,42150,1042865612000,13328768500,170345606100,0,3.0312,0.894738,0.983549
86,2019/05/29,41800,41850,42100,41300,623333158995,28947240850,171312660200,-1,0.597712,1.00568,1.00957
87,2019/05/30,42550,42200,42700,42150,499609785843,25662647200,193175425650,1,0.801513,1.12762,1.00118
88,2019/05/31,42500,42600,42800,42150,483166570320,55893428950,199579150000,0,0.967088,1.03315,1.01059
89,2019/06/03,43800,42950,43900,42500,673362393454,74682065200,233309241000,3,1.39364,1.16901,0.990868
90,2019/06/04,43450,43400,43700,43000,429427885923,32166589800,216523602900,0,0.637737,0.928054,1.01381
91,2019/06/05,43900,44050,44200,43700,548114387962,39828217150,203785643800,1,1.27638,0.941171,0.993166
92,2019/06/07,44200,43600,44350,43450,513994258914,36964328600,188983199600,0,0.93775,0.927363,1.00226
93,2019/06/10,44800,44300,44850,44050,391890812549,25601826300,186420371200,1,0.762442,0.986439,1
94,2019/06/11,44850,44800,45000,44550,298796054387,11024005150,171901707900,0,0.762447,0.922119,0.998885
95,2019/06/12,44600,44800,45050,44300,384320254600,30021384350,162981512400,0,1.28623,0.948109,0.991031
96,2019/06/13,43750,44200,44400,43400,740494046450,57296144850,157888850000,-1,1.92676,0.968753,1
97,2019/06/14,44000,43750,44150,43300,408762663250,62901056050,177958748000,0,0.552013,1.12711,0.994318
98,2019/06/17,43900,43750,44050,43400,521513724525,9784668900,169322080500,0,1.27584,0.951468,0.996583
99,2019/06/18,44350,43750,44500,43650,353712380200,23102794700,163328498950,1,0.678242,0.964602,1.0248
100,2019/06/19,45350,45450,45450,45000,471407748782,25776594050,161560100600,2,1.33274,0.989173,0.988975
101,2019/06/20,45500,44850,45500,44850,323655518900,11883617000,-,,,,

In [7]:
# row 첫번째와 마지막 삭제
# https://thispointer.com/python-pandas-how-to-drop-rows-in-dataframe-by-index-labels/
df = df.drop([df.index[0], df.index[-1]])
df.head()

,년/월/일,종가,시가,고가,저가,거래대금,공매도거래대금,공매도잔고금액,Close,Volumes,ShortSelling,Open_Close
1,2019/01/22,42150,42750,42850,41850,420046904750,16032791400,183901503750,0.985965,0.871149,0.983356,0.98102
2,2019/01/23,42000,41350,42250,41350,463297064600,22384438100,194500530000,0.996441,1.10297,1.05763,1.025
3,2019/01/24,43050,43050,43100,42350,632002060800,19768624250,166935243300,1.025,1.36414,0.858277,1.02904
4,2019/01/25,44750,44300,44750,43750,1009867914800,42827301900,203515213500,1.03949,1.59789,1.21913,1.00559
5,2019/01/28,45050,45000,45500,44600,812165597086,57134921800,219482879200,1.0067,0.80423,1.07846,1

In [8]:
# label값을 True와 False로 변환
df['Open_Close'] = df['Open_Close'] >= 1
df.head()

,년/월/일,종가,시가,고가,저가,거래대금,공매도거래대금,공매도잔고금액,Close,Volumes,ShortSelling,Open_Close
1,2019/01/22,42150,42750,42850,41850,420046904750,16032791400,183901503750,0.985965,0.871149,0.983356,False
2,2019/01/23,42000,41350,42250,41350,463297064600,22384438100,194500530000,0.996441,1.10297,1.05763,True
3,2019/01/24,43050,43050,43100,42350,632002060800,19768624250,166935243300,1.025,1.36414,0.858277,True
4,2019/01/25,44750,44300,44750,43750,1009867914800,42827301900,203515213500,1.03949,1.59789,1.21913,True
5,2019/01/28,45050,45000,45500,44600,812165597086,57134921800,219482879200,1.0067,0.80423,1.07846,True

In [42]:
# LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X = df[['Close', 'Volumes', 'ShortSelling']]
y = df['Open_Close']
X_train, X_test, y_train, y_test = train_test_split(X, y)
logreg = LogisticRegression().fit(X_train, y_train)
logreg.score(X_test, y_test)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

ValueError: could not convert string to float: