In [8]:
#visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
import ast
import requests
from datetime import date, timedelta
list = []
class Krx:

    isin_code = 'KR7005930003'
    start_date = '2019/01/20'
    end_date = '2019/06/20'
    


    def main(self):

        start = date(int(self.start_date.split("/")[0]), int(self.start_date.split("/")[1]), int(self.start_date.split("/")[2]))
        end = date(int(self.end_date.split("/")[0]), int(self.end_date.split("/")[1]), int(self.end_date.split("/")[2]))

        delta = end - start

        day_price_data = self.get_day_price()
        short_stock_selling_data = self.get_short_stock_selling()

        for day in range(delta.days+1):
            d = start + timedelta(days=day)
            key = str(d).replace("-", "")
            if key in day_price_data:
                list.append([str(d).replace("-", "/"), day_price_data[key][0], day_price_data[key][1], day_price_data[key][2], 
                             day_price_data[key][3], day_price_data[key][4], short_stock_selling_data[key][2], short_stock_selling_data[key][3]])
       

    def get_day_price(self):

        otp = requests.get('http://marketdata.krx.co.kr/contents/COM/GenerateOTP.jspx?bld=MKD/04/0402/04020100/mkd04020100t3_02&name=chart')

        parameters = {
            'isu_cd': self.isin_code,
            'fromdate': self.start_date.replace("/", ""),
            'todate': self.end_date.replace("/", ""),
            'pagePath': '/contents/MKD/04/0402/04020100/MKD04020100T3T2.jsp',
            'code': otp.content
        }

        res = requests.post('http://marketdata.krx.co.kr/contents/MKD/99/MKD99000001.jspx', parameters)

        data = ast.literal_eval(res.text)['block1']

        result = {}

        for item in data:
            # tdd_clsprc : 종가
            # acc_trdval : 거래대금
            # tdd_opnprc : 시가
            # tdd_hgprc : 고가
            # tdd_lwprc : 저가
            result[item['trd_dd'].replace("/", "")] = (item['tdd_clsprc'], item['tdd_opnprc'], item['tdd_hgprc'], item['tdd_lwprc'], item['acc_trdval'])

        return result

    def get_short_stock_selling(self):

        # reverse engineered from the source at here https://finance.naver.com/item/short_trade.nhn?code=005930
        otp = requests.get('https://short.krx.co.kr/contents/COM/GenerateOTP.jspx?bld=SRT/02/02010100/srt02010100X&name=form')

        parameters = {
            'isu_cd': self.isin_code,
            'strt_dd': self.start_date.replace("/", ""),
            'end_dd': self.end_date.replace("/", ""),
            'pagePath': '/contents/SRT/02/02010100/SRT02010100X.jsp',
            'code': otp.content
        }

        res = requests.post('https://short.krx.co.kr/contents/SRT/99/SRT99000001.jspx', parameters)

        data = ast.literal_eval(res.text)['block1']

        result = {}

        for item in data:
            # cvsrtsell_trdvol : 공매도 거래량
            # str_const_val1 : 공매도 잔고량
            # cvsrtsell_trdval : 공매도 거래대금
            # str_const_val2 : 공매도 잔고금액
            result[item['trd_dd'].replace("/", "")] = (item['cvsrtsell_trdvol'], item['str_const_val1'], item['cvsrtsell_trdval'], item['str_const_val2'])

        return result


if __name__ == "__main__":
    Krx().main()

In [6]:
list

[['2019/01/21',
  '42,750',
  '42,700',
  '42,750',
  '41,900',
  '482,175,851,350',
  '23,237,367,100',
  '187,014,107,250'],
 ['2019/01/22',
  '42,150',
  '42,750',
  '42,850',
  '41,850',
  '420,046,904,750',
  '16,032,791,400',
  '183,901,503,750'],
 ['2019/01/23',
  '42,000',
  '41,350',
  '42,250',
  '41,350',
  '463,297,064,600',
  '22,384,438,100',
  '194,500,530,000'],
 ['2019/01/24',
  '43,050',
  '43,050',
  '43,100',
  '42,350',
  '632,002,060,800',
  '19,768,624,250',
  '166,935,243,300'],
 ['2019/01/25',
  '44,750',
  '44,300',
  '44,750',
  '43,750',
  '1,009,867,914,800',
  '42,827,301,900',
  '203,515,213,500'],
 ['2019/01/28',
  '45,050',
  '45,000',
  '45,500',
  '44,600',
  '812,165,597,086',
  '57,134,921,800',
  '219,482,879,200'],
 ['2019/01/29',
  '45,500',
  '45,050',
  '45,500',
  '44,350',
  '729,601,104,797',
  '63,726,634,500',
  '230,713,847,000'],
 ['2019/01/30',
  '46,400',
  '44,800',
  '46,400',
  '44,800',
  '802,319,669,700',
  '57,130,043,050',
  '233,805,192,000'],
 ['2019/01/31',
  '46,150',
  '46,650',
  '47,050',
  '46,150',
  '1,007,418,016,957',
  '56,475,246,850',
  '231,867,106,900'],
 ['2019/02/01',
  '46,350',
  '46,650',
  '46,950',
  '46,250',
  '644,179,617,419',
  '35,406,219,100',
  '251,513,222,850'],
 ['2019/02/07',
  '46,200',
  '46,800',
  '47,100',
  '46,200',
  '739,207,112,566',
  '26,261,118,750',
  '251,702,497,200'],
 ['2019/02/08',
  '44,800',
  '45,700',
  '45,700',
  '44,650',
  '571,010,653,800',
  '23,160,240,800',
  '241,633,952,000'],
 ['2019/02/11',
  '45,000',
  '44,500',
  '45,000',
  '44,250',
  '496,105,674,534',
  '23,729,036,450',
  '238,975,560,000'],
 ['2019/02/12',
  '46,050',
  '44,650',
  '46,250',
  '44,650',
  '604,234,331,980',
  '61,402,562,050',
  '223,754,279,100'],
 ['2019/02/13',
  '46,200',
  '46,400',
  '46,700',
  '46,000',
  '522,769,115,550',
  '26,264,683,500',
  '218,366,563,800'],
 ['2019/02/14',
  '47,500',
  '46,600',
  '47,500',
  '46,150',
  '808,870,207,486',
  '52,936,668,750',
  '228,013,062,500'],
 ['2019/02/15',
  '46,050',
  '46,750',
  '46,850',
  '45,650',
  '487,928,325,500',
  '58,247,074,400',
  '213,018,734,700'],
 ['2019/02/18',
  '46,200',
  '46,500',
  '46,850',
  '45,850',
  '379,385,585,300',
  '18,452,827,800',
  '206,843,359,800'],
 ['2019/02/19',
  '45,950',
  '45,850',
  '46,150',
  '45,450',
  '309,243,749,000',
  '11,461,219,100',
  '210,034,141,600'],
 ['2019/02/20',
  '46,900',
  '46,750',
  '47,100',
  '46,500',
  '538,847,352,577',
  '25,086,815,900',
  '206,260,056,100'],
 ['2019/02/21',
  '46,950',
  '46,500',
  '47,200',
  '46,200',
  '406,411,552,100',
  '12,828,675,550',
  '206,230,269,450'],
 ['2019/02/22',
  '47,150',
  '46,500',
  '47,150',
  '46,450',
  '322,775,255,100',
  '21,865,046,600',
  '204,598,136,450'],
 ['2019/02/25',
  '47,350',
  '47,400',
  '47,550',
  '47,050',
  '354,011,544,900',
  '17,628,313,100',
  '187,769,502,750'],
 ['2019/02/26',
  '46,750',
  '47,350',
  '47,450',
  '46,500',
  '374,675,186,100',
  '25,979,353,550',
  '173,668,676,500'],
 ['2019/02/27',
  '46,750',
  '47,000',
  '47,250',
  '46,750',
  '377,808,474,774',
  '8,671,218,400',
  '162,805,612,750'],
 ['2019/02/28',
  '45,100',
  '46,400',
  '46,500',
  '45,100',
  '1,073,228,686,350',
  '46,122,549,750',
  '139,836,248,200'],
 ['2019/03/04',
  '44,850',
  '46,000',
  '46,100',
  '44,800',
  '585,692,172,641',
  '80,403,311,950',
  '125,192,944,500'],
 ['2019/03/05',
  '44,250',
  '44,600',
  '45,100',
  '44,150',
  '471,638,443,200',
  '21,821,724,050',
  '138,387,405,750'],
 ['2019/03/06',
  '44,000',
  '44,000',
  '44,300',
  '43,700',
  '447,977,041,138',
  '5,244,569,050',
  '126,794,580,000'],
 ['2019/03/07',
  '44,450',
  '43,400',
  '44,950',
  '43,400',
  '490,121,520,107',
  '18,452,769,200',
  '127,096,285,050'],
 ['2019/03/08',
  '43,800',
  '44,450',
  '44,800',
  '43,800',
  '340,351,298,588',
  '31,682,007,500',
  '130,979,782,800'],
 ['2019/03/11',
  '43,650',
  '44,400',
  '44,450',
  '43,650',
  '471,357,939,175',
  '11,153,552,050',
  '116,904,957,750'],
 ['2019/03/12',
  '44,650',
  '44,300',
  '44,950',
  '44,150',
  '508,997,113,650',
  '21,889,132,350',
  '126,078,026,400'],
 ['2019/03/13',
  '43,850',
  '44,250',
  '44,450',
  '43,700',
  '356,447,378,500',
  '9,532,567,400',
  '123,739,350,300'],
 ['2019/03/14',
  '43,850',
  '43,700',
  '44,300',
  '43,550',
  '789,951,149,450',
  '3,847,301,900',
  '145,335,650,700'],
 ['2019/03/15',
  '44,200',
  '43,800',
  '44,250',
  '43,700',
  '740,350,091,250',
  '11,681,539,550',
  '141,735,079,200'],
 ['2019/03/18',
  '43,700',
  '43,950',
  '44,150',
  '43,450',
  '357,784,123,950',
  '22,345,517,350',
  '132,412,573,200'],
 ['2019/03/19',
  '43,900',
  '43,750',
  '43,900',
  '43,550',
  '333,042,841,600',
  '5,477,297,500',
  '133,763,343,900'],
 ['2019/03/20',
  '44,050',
  '43,800',
  '44,200',
  '43,100',
  '429,486,262,650',
  '10,883,454,300',
  '135,742,497,750'],
 ['2019/03/21',
  '45,850',
  '44,600',
  '46,250',
  '44,050',
  '966,296,342,038',
  '10,559,060,300',
  '136,002,012,300'],
 ['2019/03/22',
  '46,550',
  '46,850',
  '47,000',
  '46,250',
  '583,256,207,100',
  '14,042,946,550',
  '145,276,731,250'],
 ['2019/03/25',
  '45,500',
  '45,300',
  '45,650',
  '44,800',
  '394,433,133,810',
  '13,042,458,700',
  '160,860,336,000'],
 ['2019/03/26',
  '45,250',
  '45,500',
  '45,700',
  '44,900',
  '440,019,808,489',
  '28,183,329,450',
  '151,007,757,000'],
 ['2019/03/27',
  '45,350',
  '44,750',
  '45,600',
  '44,250',
  '430,843,286,900',
  '8,949,849,150',
  '148,735,075,250'],
 ['2019/03/28',
  '44,850',
  '44,950',
  '45,200',
  '44,300',
  '306,038,310,100',
  '6,251,661,550',
  '146,973,853,650'],
 ['2019/03/29',
  '44,650',
  '44,500',
  '44,900',
  '44,200',
  '511,623,621,750',
  '4,139,850,450',
  '145,648,701,850'],
 ['2019/04/01',
  '45,050',
  '45,200',
  '45,450',
  '44,850',
  '332,300,460,800',
  '6,981,626,250',
  '153,318,349,650'],
 ['2019/04/02',
  '45,750',
  '45,550',
  '46,100',
  '45,350',
  '433,628,262,650',
  '8,529,586,850',
  '157,169,092,500'],
 ['2019/04/03',
  '46,600',
  '46,750',
  '46,750',
  '45,800',
  '576,545,187,625',
  '9,837,895,500',
  '157,514,384,200'],
 ['2019/04/04',
  '46,950',
  '46,150',
  '47,100',
  '46,150',
  '591,478,058,953',
  '7,468,651,500',
  '160,530,688,800'],
 ['2019/04/05',
  '46,850',
  '46,950',
  '47,550',
  '46,600',
  '401,643,883,300',
  '3,053,682,650',
  '160,302,990,700'],
 ['2019/04/08',
  '46,650',
  '47,250',
  '47,250',
  '46,150',
  '397,148,497,800',
  '3,512,087,950',
  '159,991,866,300'],
 ['2019/04/09',
  '46,650',
  '46,700',
  '46,950',
  '46,200',
  '320,647,245,000',
  '767,954,800',
  '164,300,087,100'],
 ['2019/04/10',
  '46,700',
  '46,400',
  '46,700',
  '46,050',
  '550,967,366,221',
  '6,026,235,100',
  '158,498,352,300'],
 ['2019/04/11',
  '46,250',
  '46,700',
  '46,800',
  '46,150',
  '634,752,144,300',
  '6,009,973,900',
  '170,506,915,000'],
 ['2019/04/12',
  '46,850',
  '46,050',
  '46,900',
  '46,000',
  '357,084,147,550',
  '13,648,179,350',
  '173,829,194,750'],
 ['2019/04/15',
  '47,050',
  '47,150',
  '47,500',
  '47,000',
  '412,633,207,600',
  '10,063,923,050',
  '167,214,429,650'],
 ['2019/04/16',
  '47,250',
  '47,400',
  '47,400',
  '46,800',
  '364,272,720,183',
  '3,166,754,300',
  '192,447,454,500'],
 ['2019/04/17',
  '47,050',
  '47,300',
  '47,600',
  '47,000',
  '260,238,026,450',
  '7,139,657,550',
  '190,962,399,600'],
 ['2019/04/18',
  '45,600',
  '47,200',
  '47,250',
  '45,500',
  '589,351,882,300',
  '6,189,921,500',
  '211,516,101,600'],
 ['2019/04/19',
  '45,300',
  '45,750',
  '46,000',
  '45,250',
  '386,062,293,847',
  '14,147,397,050',
  '203,644,926,900'],
 ['2019/04/22',
  '45,350',
  '45,400',
  '45,900',
  '45,100',
  '273,125,405,900',
  '4,274,865,200',
  '228,801,543,300'],
 ['2019/04/23',
  '45,200',
  '45,050',
  '45,500',
  '45,000',
  '313,179,774,125',
  '26,153,015,200',
  '235,840,808,400'],
 ['2019/04/24',
  '44,750',
  '45,400',
  '45,650',
  '44,150',
  '594,100,467,458',
  '26,061,974,400',
  '239,252,742,500'],
 ['2019/04/25',
  '44,650',
  '44,250',
  '45,000',
  '44,100',
  '485,378,095,190',
  '12,385,413,750',
  '233,646,261,350'],
 ['2019/04/26',
  '44,850',
  '44,200',
  '45,000',
  '43,800',
  '434,008,341,453',
  '13,765,144,250',
  '231,788,029,200'],
 ['2019/04/29',
  '46,150',
  '45,150',
  '46,150',
  '45,100',
  '401,124,009,550',
  '11,859,479,200',
  '222,374,098,050'],
 ['2019/04/30',
  '45,850',
  '46,000',
  '46,300',
  '45,350',
  '509,855,767,200',
  '14,499,690,750',
  '202,960,847,950'],
 ['2019/05/02',
  '45,900',
  '45,500',
  '46,150',
  '45,400',
  '395,453,520,550',
  '6,465,088,700',
  '218,398,350,600'],
 ['2019/05/03',
  '45,300',
  '45,900',
  '46,050',
  '45,300',
  '298,782,689,050',
  '15,302,959,650',
  '218,094,494,400'],
 ['2019/05/07',
  '44,850',
  '45,250',
  '45,300',
  '44,400',
  '538,125,202,400',
  '20,623,933,850',
  '233,704,200,600'],
 ['2019/05/08',
  '44,250',
  '44,300',
  '44,850',
  '44,200',
  '462,086,636,050',
  '5,003,568,450',
  '226,607,922,750'],
 ['2019/05/09',
  '42,450',
  '43,900',
  '44,250',
  '42,450',
  '993,611,649,785',
  '23,054,641,650',
  '215,295,405,450'],
 ['2019/05/10',
  '42,900',
  '42,600',
  '43,450',
  '42,450',
  '624,673,461,000',
  '27,619,355,950',
  '216,024,022,500'],
 ['2019/05/13',
  '42,650',
  '42,500',
  '43,200',
  '42,350',
  '326,874,119,000',
  '14,675,526,100',
  '213,692,323,150'],
 ['2019/05/14',
  '42,650',
  '41,300',
  '43,100',
  '41,300',
  '491,109,676,200',
  '19,194,923,150',
  '219,748,708,450'],
 ['2019/05/15',
  '42,550',
  '42,700',
  '43,050',
  '42,550',
  '327,973,978,000',
  '44,592,259,750',
  '224,635,066,000'],
 ['2019/05/16',
  '41,550',
  '42,350',
  '42,400',
  '41,350',
  '572,149,879,612',
  '49,531,560,250',
  '230,646,667,650'],
 ['2019/05/17',
  '41,200',
  '41,950',
  '42,050',
  '40,850',
  '554,484,416,170',
  '48,935,730,650',
  '230,727,663,200'],
 ['2019/05/20',
  '42,000',
  '41,650',
  '42,100',
  '41,550',
  '659,809,912,200',
  '18,019,265,450',
  '238,190,274,000'],
 ['2019/05/21',
  '43,150',
  '42,600',
  '43,950',
  '42,350',
  '815,224,371,474',
  '45,007,589,400',
  '229,256,813,000'],
 ['2019/05/22',
  '43,500',
  '43,700',
  '43,800',
  '42,400',
  '477,853,598,650',
  '47,342,213,100',
  '245,123,413,500'],
 ['2019/05/23',
  '43,850',
  '43,900',
  '44,000',
  '43,250',
  '536,198,002,640',
  '33,928,489,950',
  '240,261,516,800'],
 ['2019/05/24',
  '42,700',
  '43,800',
  '43,800',
  '42,400',
  '599,084,523,862',
  '28,883,734,850',
  '227,515,079,400'],
 ['2019/05/27',
  '42,650',
  '42,500',
  '43,000',
  '42,350',
  '344,043,547,350',
  '12,078,249,150',
  '190,386,060,050'],
 ['2019/05/28',
  '42,550',
  '42,550',
  '42,950',
  '42,150',
  '1,042,865,612,000',
  '13,328,768,500',
  '170,345,606,100'],
 ['2019/05/29',
  '41,800',
  '41,850',
  '42,100',
  '41,300',
  '623,333,158,995',
  '28,947,240,850',
  '171,312,660,200'],
 ['2019/05/30',
  '42,550',
  '42,200',
  '42,700',
  '42,150',
  '499,609,785,843',
  '25,662,647,200',
  '193,175,425,650'],
 ['2019/05/31',
  '42,500',
  '42,600',
  '42,800',
  '42,150',
  '483,166,570,320',
  '55,893,428,950',
  '199,579,150,000'],
 ['2019/06/03',
  '43,800',
  '42,950',
  '43,900',
  '42,500',
  '673,362,393,454',
  '74,682,065,200',
  '233,309,241,000'],
 ['2019/06/04',
  '43,450',
  '43,400',
  '43,700',
  '43,000',
  '429,427,885,923',
  '32,166,589,800',
  '216,523,602,900'],
 ['2019/06/05',
  '43,900',
  '44,050',
  '44,200',
  '43,700',
  '548,114,387,962',
  '39,828,217,150',
  '203,785,643,800'],
 ['2019/06/07',
  '44,200',
  '43,600',
  '44,350',
  '43,450',
  '513,994,258,914',
  '36,964,328,600',
  '188,983,199,600'],
 ['2019/06/10',
  '44,800',
  '44,300',
  '44,850',
  '44,050',
  '391,890,812,549',
  '25,601,826,300',
  '186,420,371,200'],
 ['2019/06/11',
  '44,850',
  '44,800',
  '45,000',
  '44,550',
  '298,796,054,387',
  '11,024,005,150',
  '171,901,707,900'],
 ['2019/06/12',
  '44,600',
  '44,800',
  '45,050',
  '44,300',
  '384,320,254,600',
  '30,021,384,350',
  '162,981,512,400'],
 ['2019/06/13',
  '43,750',
  '44,200',
  '44,400',
  '43,400',
  '740,494,046,450',
  '57,296,144,850',
  '157,888,850,000'],
 ['2019/06/14',
  '44,000',
  '43,750',
  '44,150',
  '43,300',
  '408,762,663,250',
  '62,901,056,050',
  '177,958,748,000'],
 ['2019/06/17',
  '43,900',
  '43,750',
  '44,050',
  '43,400',
  '521,513,724,525',
  '9,784,668,900',
  '169,322,080,500'],
 ['2019/06/18',
  '44,350',
  '43,750',
  '44,500',
  '43,650',
  '353,712,380,200',
  '23,102,794,700',
  '163,328,498,950'],
 ['2019/06/19',
  '45,350',
  '45,450',
  '45,450',
  '45,000',
  '471,407,748,782',
  '25,776,594,050',
  '161,560,100,600'],
 ['2019/06/20',
  '45,500',
  '44,850',
  '45,500',
  '44,850',
  '323,655,518,900',
  '11,883,617,000',
  '-']]

In [7]:
import pandas as pd
df = pd.DataFrame(list, columns=["년/월/일", "종가", "시가", "고가", "저가", "거래대금", "공매도거래대금", "공매도잔고금액"])
df.dtypes

년/월/일      object
종가         object
시가         object
고가         object
저가         object
거래대금       object
공매도거래대금    object
공매도잔고금액    object
dtype: object

In [4]:
# REMOVE COMMA
columns_values = []
columns_values.append(df.columns.values)
for i in range(len(columns_values[0])):
    df[columns_values[0][i]] = df[columns_values[0][i]].str.replace(',','')
df.head()

,년/월/일,종가,시가,고가,저가,거래대금,공매도거래대금,공매도잔고금액
0,2019/01/21,42750,42700,42750,41900,482175851350,23237367100,187014107250
1,2019/01/22,42150,42750,42850,41850,420046904750,16032791400,183901503750
2,2019/01/23,42000,41350,42250,41350,463297064600,22384438100,194500530000
3,2019/01/24,43050,43050,43100,42350,632002060800,19768624250,166935243300
4,2019/01/25,44750,44300,44750,43750,1009867914800,42827301900,203515213500

In [18]:
# 전일대비등락률 (종가, 거래대금, 공매도, 시가/종가)
Close = ['']
Volumes = ['']
ShortSelling = ['']
Open_Close = ['']

for k in range(1, len(df)-1): #처음 가격은 계산 안 되므로 1, 마지막 가격에는 값이 없는 row가 있으므로 -1
    Close.append(int(df['종가'][k]) / int(df['종가'][k-1]))
    Volumes.append(int(df['거래대금'][k]) / int(df['거래대금'][k-1]))
    ShortSelling.append(int(df['공매도잔고금액'][k]) / int(df['공매도잔고금액'][k-1]))
    Open_Close.append(int(df['시가'][k+1]) / int(df['종가'][k])) # 다음날 시가갭이면 1보다 큼
Close.append('')
Volumes.append('')
ShortSelling.append('')
Open_Close.append('')
# Column 삽입
# https://www.geeksforgeeks.org/adding-new-column-to-existing-dataframe-in-pandas/
df.insert(8, "Close", Close)
df.insert(9, "Volumes", Volumes)
df.insert(10, "ShortSelling", ShortSelling)
df.insert(11, "Open_Close", Open_Close)
df.head()

# 날짜 헷갈리면 안 됨 feature들은 전일대비당일가격, Open_Close는 당일대비다음날시가(label이기 때문이다.)

,년/월/일,종가,시가,고가,저가,거래대금,공매도거래대금,공매도잔고금액,Close,Volumes,ShortSelling,Open_Close
0,2019/01/21,42750,42700,42750,41900,482175851350,23237367100,187014107250,,,,
1,2019/01/22,42150,42750,42850,41850,420046904750,16032791400,183901503750,0.985965,0.871149,0.983356,0.98102
2,2019/01/23,42000,41350,42250,41350,463297064600,22384438100,194500530000,0.996441,1.10297,1.05763,1.025
3,2019/01/24,43050,43050,43100,42350,632002060800,19768624250,166935243300,1.025,1.36414,0.858277,1.02904
4,2019/01/25,44750,44300,44750,43750,1009867914800,42827301900,203515213500,1.03949,1.59789,1.21913,1.00559

In [19]:
# row 첫번째와 마지막 삭제
# https://thispointer.com/python-pandas-how-to-drop-rows-in-dataframe-by-index-labels/
df = df.drop([df.index[0], df.index[-1]])
df.head()

,년/월/일,종가,시가,고가,저가,거래대금,공매도거래대금,공매도잔고금액,Close,Volumes,ShortSelling,Open_Close
1,2019/01/22,42150,42750,42850,41850,420046904750,16032791400,183901503750,0.985965,0.871149,0.983356,0.98102
2,2019/01/23,42000,41350,42250,41350,463297064600,22384438100,194500530000,0.996441,1.10297,1.05763,1.025
3,2019/01/24,43050,43050,43100,42350,632002060800,19768624250,166935243300,1.025,1.36414,0.858277,1.02904
4,2019/01/25,44750,44300,44750,43750,1009867914800,42827301900,203515213500,1.03949,1.59789,1.21913,1.00559
5,2019/01/28,45050,45000,45500,44600,812165597086,57134921800,219482879200,1.0067,0.80423,1.07846,1

In [20]:
# label값을 True와 False로 변환
df['Open_Close'] = df['Open_Close'] >= 1
df.head()

,년/월/일,종가,시가,고가,저가,거래대금,공매도거래대금,공매도잔고금액,Close,Volumes,ShortSelling,Open_Close
1,2019/01/22,42150,42750,42850,41850,420046904750,16032791400,183901503750,0.985965,0.871149,0.983356,False
2,2019/01/23,42000,41350,42250,41350,463297064600,22384438100,194500530000,0.996441,1.10297,1.05763,True
3,2019/01/24,43050,43050,43100,42350,632002060800,19768624250,166935243300,1.025,1.36414,0.858277,True
4,2019/01/25,44750,44300,44750,43750,1009867914800,42827301900,203515213500,1.03949,1.59789,1.21913,True
5,2019/01/28,45050,45000,45500,44600,812165597086,57134921800,219482879200,1.0067,0.80423,1.07846,True

In [21]:
# LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
X = df[['Close', 'Volumes', 'ShortSelling']]
y = df['Open_Close']
X_train, X_test, y_train, y_test = train_test_split(X, y)
logreg = LogisticRegression().fit(X_train, y_train)
logreg.score(X_test, y_test)

C:\Users\user\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

0.36